MISTRAL_API_KEY= 
HUGGINGFACE_API_TOKEN= 
BUFFER_ACCESS_TOKEN= 
IMGBB_API_KEY= 
REPLICATE_API_TOKEN= 
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 
ELEVENLABS_API_KEY= 
OCR_SPACE_API_KEY= 
GOOGLE_STT_API_KEY= 