MISTRAL_API_KEY=*ADD_KEY_HERE*
HUGGINGFACE_API_TOKEN=*ADD_KEY_HERE*
BUFFER_ACCESS_TOKEN=*ADD_KEY_HERE*
IMGBB_API_KEY=*ADD_KEY_HERE*
REPLICATE_API_TOKEN=*ADD_KEY_HERE*
CLOUDINARY_CLOUD_NAME=*ADD_KEY_HERE*
CLOUDINARY_API_KEY=*ADD_KEY_HERE*
CLOUDINARY_API_SECRET=*ADD_KEY_HERE*
ELEVENLABS_API_KEY=*ADD_KEY_HERE*
GOOGLE_STT_API_KEY=*ADD_KEY_HERE